Automated-SOC-Workflow/n8n-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "99fe1abb-a283-4437-bd75-3b32db989717",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        128
      ],
      "id": "3e8886bc-ea00-4dee-b748-e53d8afa0843",
      "name": "Webhook",
      "webhookId": "99fe1abb-a283-4437-bd75-3b32db989717"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responses": {
          "values": [
            {
              "content": "=Alert:  {{ $json.body.search_name }}\nAlert Details: {{ JSON.stringify($json.body.result,['_time','user','ComputerName'],2)}}\nSource IP: 88.94.93.233"
            },
            {
              "role": "system",
              "content": "Format output clearly – Return findings in a structured format (Summary, IOC Enrichment, Severity Assessment, Recommended Actions)."
            },
            {
              "role": "system",
              "content": "Act as a Tier 1 SOC analyst assistant.\nWhen provided with a security alert or incident details (including indicators of compromise, logs, or metadata), perform the following steps:\n\nSummarize the alert – Provide a clear summary of what triggered the alert, which systems/users are affected, and the nature of the activity (e.g., suspicious login, malware detection, lateral movement).\n\nEnrich with threat intelligence – Correlate any IOCs (IP addresses, domains, hashes) with known threat intel sources. For any IP enrichment, use the tool named 'AbusePDB-Enrichment'. Highlight if the indicators are associated with known malicious campaigns, threat actors, or malware families.\n\nAssess severity – Based on MITRE ATT&CK mapping, identify tactics/techniques, and provide an initial severity rating (Low, Medium, High, Critical). Explain briefly why this severity was chosen.\n\nRecommend next actions – Suggest investigation steps and potential containment actions (e.g., isolate host, reset credentials, collect memory dump, run antivirus scan).\n\nOutput format:\nUse clear sections for Summary, IOC Enrichment, Severity Assessment, and Recommended Actions."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        272,
        128
      ],
      "id": "ca57a758-b027-45e4-9442-dad2fa13dd17",
      "name": "Message a model",
      "alwaysOutputData": false,
      "credentials": {
        "openAiApi": {
          "id": "UKfatRTWxrjf5doF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09Q85TA77G",
          "mode": "list",
          "cachedResultName": "alerts"
        },
        "text": "={{ $json.output[0].content[0].text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        704,
        128
      ],
      "id": "f00ccf61-a581-4e80-94e7-9c823d1e47ff",
      "name": "Send a message",
      "webhookId": "8980f0a9-62c5-406e-a536-232785881758",
      "credentials": {
        "slackApi": {
          "id": "agmGFm86y5Qnp6ig",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.abuseipdb.com/api/v2/check",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ipAddress",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "maxAgeInDays",
              "value": "1"
            },
            {
              "name": "verbose"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Key",
              "value": "1d3134e0e341bf5580c42d36571750c0377bb4f594e6aa66d2e68d68dc3cfda544c6d4fea2a81d9a"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        352,
        320
      ],
      "id": "fc9f02d0-4d95-4109-b335-04dbbe652888",
      "name": "AbusePDB-Enrichment"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept-encoding": "identity",
            "content-length": "400",
            "host": "192.168.164.130:5678",
            "content-type": "application/json",
            "user-agent": "Splunk/9F2FA9D3-9C71-4A03-9C01-36CDC6E1FBE3",
            "connection": "close"
          },
          "params": {},
          "query": {},
          "body": {
            "sid": "scheduler__vilde__search__RMD5264e6c2b0a258cb2_at_1762116480_2",
            "search_name": "Test-Brute-Force",
            "app": "search",
            "owner": "vilde",
            "results_link": "http://vildesplunk:8000/app/search/@go?sid=scheduler__vilde__search__RMD5264e6c2b0a258cb2_at_1762116480_2",
            "result": {
              "_time": "1762116172.921",
              "ComputerName": "DESKTOP-S7LALCD",
              "user": "vilde",
              "src_ip": "192.168.164.1",
              "count": "1"
            }
          },
          "webhookUrl": "http://192.168.164.130:5678/webhook-test/99fe1abb-a283-4437-bd75-3b32db989717",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AbusePDB-Enrichment": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b3597aa-3643-44be-85f0-f3e901691cce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80c6f46a5226a5d6fefc08518eae2768794b7d4fb8412791e9b613022e49726d"
  },
  "id": "C6e4dF7M3Ttk2iBc",
  "tags": []
}